<!doctype html>
<html>
  
  <%= partial "partials/head" %>
  
  <body class="<%= page_classes %>">
    
    <%= partial "partials/header" %>
    
    <div id="main" role="main">
      <%= yield %>
    </div>
    
    <%= partial "partials/footer" %>
    <%= partial "partials/footer-scripts" %>
  </body>
</html>
